﻿@model CookBook.ViewModels.UserViewModel
@{
    ViewBag.Title = "Delete";
}

<div class="row padding">
    <h2 class="jumbotron">@Model.Name</h2>
    <div class="padding"></div>
    <a href="@Url.Action("Edit","User")" class="btn btn-outline-secondary align-self-baseline">Edit profile</a>
</div>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="@Url.Action("GetProfile","User")" class="nav-link active">Home</a>
    </li>
    <li class="nav-item">
        <a href="@Url.Action("AllRecipesByUser","User", new { id=Model.Id})" class="nav-link">Recipes</a>
    </li>
    <li class="nav-item">
        <a href="@Url.Action("GetAllByUserCookbooks", "User")" class="nav-link">CookBooks</a>
    </li>
</ul>
<br />
<br />
<div class="col-md-12 padding"><h5>Are you sure you want to delete your account ?!</h5></div>
<br />
@using (Html.BeginForm())
{
    <button value="submit" type="submit" class="btn btn-danger">Delete</button>
    <a href="@Url.Action("GetProfile","User")" class="btn btn-info">Cancel</a>
}

