﻿@model CookBook.ViewModels.EditUserViewModel
@{
    ViewBag.Title = "Edit";
}

<div class="row padding">
    <h2 class="jumbotron">@Model.User.Name</h2>
    <div class="padding"></div>
    <a href="@Url.Action("Edit","User")" class="btn btn-outline-secondary align-self-baseline">Edit profile</a>
</div>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="@Url.Action("GetProfile","User")" class="nav-link active">Home</a>
    </li>
    <li class="nav-item">
        <a href="@Url.Action("GetAllUserRecipes","User")" class="nav-link">Recipes</a>
    </li>
    <li class="nav-item">
        <a href="@Url.Action("GetFavoriteRecipes","User")" class="nav-link">Favorite Recipes</a>
    </li>
    <li class="nav-item">
        <a href="@Url.Action("GetAllByUserCookbooks", "User")" class="nav-link">CookBooks</a>
    </li>
</ul>
<br />
<br />
<h2>Edit profile</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "", new { @class="text-danger"})
    <div class="row padding">
        <div class="col-md-6">
            <div> @Html.HiddenFor(m => m.User.Id)</div>
            <div class="col-form-label"> @Html.LabelFor(m => m.User.Name, new { @class = "control-label" })</div>
            <div>
                @Html.TextBoxFor(m => m.User.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m=>m.User.Name, "", new { @class="text-danger"})
            </div>
            <div class="col-form-label"> @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })</div>
            <div>
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
            </div>
            @Html.HiddenFor(m=>m.OldPassword)
            <br />
            <button value="submit" type="submit" class="btn btn-danger">Save</button>
            <a href="@Url.Action("GetProfile","User")" class="btn btn-info">Cancel</a>
        </div>
    </div>
}
<br />
<a href="@Url.Action("Delete","User")" class="text-danger">Delete account.</a>

