﻿@model CookBook.ViewModels.UserRecipesViewModel
@{
    ViewBag.Title = "GetAllUserRecipes";
}

<div class="row padding">
    <h2 class="jumbotron">@Model.User.Name</h2>
    <div class="padding"></div>
    <a href="@Url.Action("Edit","User")" class="btn btn-outline-secondary align-self-baseline">Edit profile</a>
</div>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="@Url.Action("GetProfile","User")" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
        <a href="@Url.Action("GetAllUserRecipes","User")" class="nav-link active">Recipes</a>
    </li>
    <li class="nav-item">
        <a href="@Url.Action("GetFavoriteRecipes","User")" class="nav-link">Favorite Recipes</a>
    </li>
    <li class="nav-item">
        <a href="@Url.Action("GetAllUserCookbooks", "User")" class="nav-link">CookBooks</a>
    </li>
</ul>
<br />
<br />
<div class="row padding">
    <div class="col-md-10"><h5>All recipes:</h5></div>
    <div class="col-md-2"><a href="@Url.Action("Create","Recipe")" class="btn btn-info">Add new</a></div><br />
    <br />
    <div class="col-md-6">
        <table class="table table-borderless fontSize">
            <tbody>
                @foreach (var recipe in Model.Recipes)
                {
                    <tr>
                        <td>
                            @recipe.Name
                        </td>
                        <td>
                            <a href="@Url.Action("Edit","Recipe",new {id=recipe.Id})">Edit</a> |
                            <a href="@Url.Action("Delete", "Recipe", new { id =recipe.Id})">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
