﻿@model CookBook.ViewModels.UserRecipesViewModel
@{
    ViewBag.Title = "GetFavoriteRecipes";
}

<div class="row padding">
    <h2 class="jumbotron">@Model.User.Name</h2>
    <div class="padding"></div>
    <a href="@Url.Action("Edit","User")" class="btn btn-outline-secondary align-self-baseline">Edit profile</a>
</div>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="@Url.Action("GetProfile","User")" class="nav-link ">Home</a>
    </li>
    <li class="nav-item">
        <a href="@Url.Action("GetAllUserRecipes","User")" class="nav-link">Recipes</a>
    </li>
    <li class="nav-item">
        <a href="@Url.Action("GetFavoriteRecipes","User")" class="nav-link active">Favorite Recipes</a>
    </li>
    <li class="nav-item">
        <a href="@Url.Action("GetAllUserCookbooks", "User")" class="nav-link">CookBooks</a>
    </li>
</ul>
<br />
<br />
<div class="row padding">
    <div class="col-md-12"><h5>Favorite recipes:</h5></div>
    <div class="col-md-6">
        <table class="table table-borderless fontSize">
            <tbody>
                @foreach (var recipe in Model.Recipes)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("Get","Recipe",new { id=recipe.Id})">@recipe.Name</a>
                            <a href="@Url.Action("RemoveFavoriteRecipe", "User", new { recipeId = recipe.Id })" class="btn float-right btn-sm btn-outline-danger">x</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>