﻿@model CookBook.ViewModels.RecipeViewModel
@{
    ViewBag.Title = "Create";
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="@Url.Action("Create","Recipe")" class="nav-link active">Create</a>
    </li>
</ul>
<br />
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
@using (Html.BeginForm())
{
    <div class="row padding">
        <div class="form-inline">
            <div class="form-group">
                @Html.LabelFor(m => m.Name):
            </div>
            <div class="padding">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </div>
            <div class="padding"></div>
            <button class="btn btn-danger" type="submit">Next</button>
        </div>
    </div>
    <br />
    <div class="padding">@Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })</div>
}

