﻿@model CookBook.ViewModels.GetRecipeViewModel
@{
    ViewBag.Title = "Delete";
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="@Url.Action("Delete","Recipe", new { id=Model.Recipe.Id})" class="nav-link active">Delete</a>
    </li>
</ul>
<br />
@using (Html.BeginForm())
{
    <div class="row padding">
        <div class="col-md-6">
            <div> @Html.HiddenFor(m => m.Recipe.Id) </div>
            <h1>@Model.Recipe.Name</h1>
            <div class="dateFont">By:<a href="@Url.Action("GetPublicProfile","User",new { id=Model.UserId})">@Model.Username</a></div>
            <div class="dateFont">@Model.Recipe.Date.ToLongDateString()</div>
            <div><a href="@Url.Action("GetAllByCategory","Recipe", new { categoryId=(int)Model.Recipe.Category})">#@Html.DisplayFor(m => m.Recipe.Category)</a></div>
            <table class="table table-sm table-borderless col-md-2">
                <tr>
                    <th>@Html.LabelFor(m => m.Ingredients[0].Ingredient.Name)</th>
                    <th>@Html.LabelFor(m => m.Ingredients[0].Amount)</th>
                    <th>@Html.LabelFor(m => m.Ingredients[0].Ingredient.Measure)</th>
                </tr>
                @for (int i = 0; i < Model.Ingredients.Count; i++)
                {
                    <tr>
                        <td>
                            @Model.Ingredients[i].Ingredient.Name
                            @Html.HiddenFor(m => m.Ingredients[i].RecipeId)
                        </td>
                        <td>
                            @Model.Ingredients[i].Amount
                            @Html.HiddenFor(m => m.Ingredients[i].IngredientId)
                        </td>
                        <td>@Model.Ingredients[i].Ingredient.Measure</td>
                    </tr>
                }
            </table>
            <div> @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @readonly = "readonly" })</div>
            <br />
            <button value="submit" type="submit" class="btn btn-danger">Delete</button>
            <a href="@Url.Action("GetAllUserRecipes","User")" class="btn btn-info">Cancel</a>
        </div>
    </div>
}  