﻿@model CookBook.ViewModels.GetRecipeViewModel
@{
    ViewBag.Title = "Get";
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="@Url.Action("Get","Recipe", new { id=Model.Recipe.Id})" class="nav-link active">Recipe</a>
    </li>
</ul>
<br />

<br />
<div class="row padding">
    <div class="col-md-3">
        <h2>@Model.Recipe.Name  <a href="@Url.Action("AddFavoriteRecipe","User", new { recipeId=Model.Recipe.Id})" class="btn float-right btn-sm btn-outline-danger">Favorite</a></h2>
        <div class="dateFont">
            By:<a href="@Url.Action("GetPublicProfile","User",new { id=Model.UserId})">@Model.Username</a><br />
            @Model.Recipe.Date.ToLongDateString()<br />
            <a href="@Url.Action("GetAllByCategory","Recipe", new { categoryId=(int)Model.Recipe.Category})">#@Html.DisplayFor(m => m.Recipe.Category)</a>
        </div>
        <br />
    </div>

    <div class="col-md-12 list-group">
        <h5> @Html.LabelFor(m => m.Ingredients): </h5>
        <table class="table table-sm table-borderless col-md-2">
            @for (int i = 0; i < Model.Ingredients.Count; i++)
            {
                <tr>
                    <td> @Html.DisplayFor(m => m.Ingredients[i].Ingredient.Name)</td>
                    <td> @Html.DisplayFor(m => m.Ingredients[i].Amount) </td>
                    <td> @Html.DisplayFor(m => m.Ingredients[i].Ingredient.Measure)</td>
                </tr>
            }
        </table>
        <h5>@Html.LabelFor(m => m.Description):</h5>
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @readonly = "readonly" })
    </div>

</div>

