﻿@model CookBook.ViewModels.RecipeCategoryViewModel
@{
    ViewBag.Title = "GetAllByCategory";
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="@Url.Action("GetAllByCategory","Recipe", new { categoryId=Model.Category.Value})" class="nav-link active">#@Model.Category.Name</a>
    </li>
</ul>
<br />
<br />

<div class="row padding">

    @foreach (var recipe in Model.Recipes)
    {
        <div><a class="padding" href="@Url.Action("Get","Recipe", new { id=recipe.Id})">@recipe.Name</a></div>
    }
</div>
