﻿@model CookBook.ViewModels.GetRecipeViewModel
@{
    ViewBag.Title = "GetRandomRecipe";
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="@Url.Action("GetRandomRecipe","Recipe")" class="nav-link active">What to cook today?</a>
    </li>
</ul>
<br />
<br />

@using (Html.BeginForm())
{
    <div class="padding">
        <button class="btn btn-lg btn-danger" type="submit">Get Recipe</button>
    </div>
}
<br />
<br />
@if (Model.Recipe != null)
{
    <div class="padding">
        <h2>@Model.Recipe.Name</h2>
        <div class="dateFont">By:<a href="@Url.Action("GetPublicProfile", "User", new { id = Model.UserId })">@Model.Username</a></div>
        <div class="dateFont">@Model.Recipe.Date.ToLongDateString()</div>
        <div><a href="@Url.Action("GetAllByCategory", "Recipe", new { categoryId = (int)Model.Recipe.Category })">#@Html.DisplayFor(m => m.Recipe.Category)</a></div>
        <br />
        <div class="col-md-12 list-group">
            <table class="table table-sm table-borderless col-md-2">
                @for (int i = 0; i < Model.Ingredients.Count; i++)
                {
                    <tr>
                        <td> @Html.DisplayFor(m => m.Ingredients[i].Ingredient.Name)</td>
                        <td> @Html.DisplayFor(m => m.Ingredients[i].Amount) </td>
                        <td> @Html.DisplayFor(m => m.Ingredients[i].Ingredient.Measure)</td>
                    </tr>
                }
            </table>
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @readonly = "readonly" })
        </div>
        <br />
        <a href="@Url.Action("AddRandomRecipe","User", new { recipeId=Model.Recipe.Id})" class="btn btn-info">Remember my choice!</a>
    </div>
}