﻿@model CookBook.ViewModels.IndexRecipeViewModel
@{
    ViewBag.Title = "Index";
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="@Url.Action("Index","Recipe")" class="nav-link active">Recipes</a>
    </li>
    <li class="nav-item nav-justified">
        @using (Html.BeginForm("Search", "Recipe"))
        {
        <div class="form-inline">
            @Html.DropDownList("Filter", Model.SearchCategories, new { @class = "form-control" })
            @Html.TextBox("Search", null, new { placeholder = "Search", @class = "form-control" })
            <button class="btn btn-outline-danger" type="submit">Search</button>
        </div>
        }
    </li>
</ul>
<br />
<div class="col-md-7 padding">
    <h3>List of recipes</h3>
    <a href="@Url.Action("Create","Recipe")" class="btn float-right btn-info">Add</a>
    <br />
    <br />
    <div>
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col">@Html.LabelFor(m => m.Recipes[0].Name)</th>
                    <th scope="col">@Html.LabelFor(m => m.Recipes[0].Date)</th>
                    <th scope="col">@Html.LabelFor(m => m.Recipes[0].Category)</th>
                </tr>
            </thead>
            <tbody>

                @for (int i = 0; i < Model.Recipes.Count; i++)
                {
                    <tr>
                        <td> <a href="@Url.Action("Get", "Recipe", new { id = Model.Recipes[i].Id })">@Model.Recipes[i].Name</a></td>
                        <td><p class="dateFont">@Model.Recipes[i].Date.ToLongDateString()</p></td>
                        <td>  <a class="dateFont" href="@Url.Action("GetAllByCategory","Recipe", new { categoryId=(int)Model.Recipes[i].Category})">#@Model.Recipes[i].Category.ToString()</a></td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
