﻿@model List<CookBook.ViewModels.RecipeViewModel>
@{
    ViewBag.Title = "SearchByIngredients";
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="#" class="nav-link active">Search by ingredients</a>
    </li>
</ul>
<br />
<div>

    @using (Html.BeginForm())
    {
    <div class="form-inline padding">
        <div>Enter the ingredients by dividing them by comma: </div>
        <div class="padding">@Html.TextBox("Search", null, new { placeholder = "Search", @class = "form-control" })</div>
        <button class="btn btn-outline-danger" type="submit">Search</button>
    </div>
    }
</div>

<br />
<div class="row padding">
    @if (Model.Count != 0)
    {
        <div class="col-md-3  list-group">
            <ul>
                @foreach (var recipe in Model)
                {
                    <li><a href="@Url.Action("Get", "Recipe", new { id = recipe.Id })">@recipe.Name</a></li>
                }
            </ul>
        </div>
    }
</div>
