﻿@model CookBook.ViewModels.SearchRecipeViewModel
@{
    ViewBag.Title = "Search";
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <div class="nav-link active">Search results</div>
    </li>
</ul>
<br />
    <div class="col-md-12">
        @using (Html.BeginForm("Search", "Recipe"))
        {
        <div class="form-inline padding">
            @Html.DropDownList("Filter", Model.SearchCategories, new { @class = "form-control" })
            @Html.TextBox("Search", null, new { placeholder = "Search", @class = "form-control" })
            <button class="btn btn-outline-danger" type="submit">Search</button>
        </div>
        }
    </div>
<br />
<div class="row padding">
    @if (Model.Recipes.Count != 0)
    {
        <div class="col-md-3  list-group">
            <ul>
                @for (int i = 0; i < Model.Recipes.Count; i++)
                {
                    <li><a href="@Url.Action("Get", "Recipe", new { id = Model.Recipes[i].Id })">@Model.Recipes[i].Name</a></li>
                }
            </ul>
        </div>
    }
    else
    {
        <div>We couldn't find any recipe that matched your search.</div>
    }
</div>