﻿@model CookBook.ViewModels.EditRecipeViewModel
@{
    ViewBag.Title = "Edit";
}


<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="@Url.Action("Edit","Recipe", new { id=Model.Recipe.Id})" class="nav-link active">Edit</a>
    </li>
</ul>
<br />
@using (Html.BeginForm("AddIngredient", "Recipe", FormMethod.Post))
{
    <div class="padding">
        @Html.HiddenFor(m => m.Recipe.Id)
        <div class="col-md-12 row">Ingredient(Measure):<div class="padding">@Html.LabelFor(m => m.NewIngredient.Amount):</div></div>
        <div class="form-inline">
            @Html.DropDownListFor(m => m.NewIngredient.IngredientId, Model.Ingredients.Select(x => new SelectListItem { Text = x.Name + "(" + x.Measure.ToString() + ")", Value = x.Id.ToString() }), "Select", new { @class = "form-control" })
            @Html.TextBoxFor(m => m.NewIngredient.Amount, new { @class = "form-control" })
            <button type="submit" class="btn btn-danger">Add</button>
        </div>
        @Html.ValidationMessageFor(m => m.NewIngredient.Amount, "", new { @class = "text-danger" })
        <br />
    </div>
}


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row padding">
        <div class="col-md-6">
            <div>@Html.LabelFor(m => m.Recipe.Name)</div>
            <div>
                @Html.TextBoxFor(m => m.Recipe.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Recipe.Name, "", new { @class = "text-danger" })
            </div>
            <br />
            @Html.HiddenFor(m => m.Recipe.UserId)
            @Html.HiddenFor(m => m.Recipe.Date)
            @Html.HiddenFor(m => m.Recipe.Id)
            @Html.HiddenFor(m => m.Recipe.Category)
            <table class="table table-sm table-borderless col-md-2">
                <tr>
                    <th></th>
                    <th>@Html.LabelFor(m => m.Recipe.Ingredients[0].Ingredient.Name)</th>
                    <th>@Html.LabelFor(m => m.Recipe.Ingredients[0].Amount)</th>
                    <th>@Html.LabelFor(m => m.Recipe.Ingredients[0].Ingredient.Measure)</th>
                </tr>
                @for (int i = 0; i < Model.Recipe.Ingredients.Count; i++)
                {
                    <tr>
                        <td><a href="@Url.Action("RemoveIngredient", "Recipe", new { ingredientId = Model.Recipe.Ingredients[i].IngredientId, recipeId = Model.Recipe.Ingredients[i].RecipeId })" class="btn btn-sm btn-danger">X</a></td>
                        <td>
                            @Html.DisplayFor(m => m.Recipe.Ingredients[i].Ingredient.Name)
                            @Html.HiddenFor(m => m.Recipe.Ingredients[i].RecipeId)
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.Recipe.Ingredients[i].Amount, new { @class = "form-control" })
                            @Html.HiddenFor(m => m.Recipe.Ingredients[i].IngredientId)
                        </td>
                        <td>@Html.DisplayFor(m => m.Recipe.Ingredients[i].Ingredient.Measure)</td>
                    </tr>
                }
            </table>

            <div>@Html.LabelFor(m => m.Recipe.Description)</div>
            <div> @Html.TextAreaFor(m => m.Recipe.Description, new { @class = "form-control" })</div>
            @Html.ValidationMessageFor(m => m.Recipe.Description, "", new { @class = "text-danger" })
            <button value="submit" type="submit" class="btn btn-danger">Save</button>
            <a href="@Url.Action("GetAllUserRecipes","User")" class="btn btn-info">Cancel</a>
        </div>
    </div>
}
