﻿body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

html, body {
    padding-bottom: 0em !important;
}

.height {
    height: 100% !important;
}

.margin-right {
    margin-right: 0px !important;
}

.width {
    width: 300px !important;
}

.main {
    margin-left: 300px !important;
    padding-left: 25px !important;
    margin-top: 80px !important;
}

.padding-sidebar {
    padding: inherit !important;
    align-self: flex-start;
    margin-top: 65px;
}

.sidebarLink {
    color: black !important;
    background-color: white !important;
    border-radius: 15px;
}

.sidebarHeader a {
    font-size: xx-large;
    font-weight: 600;
    color: white;
    background-color: darkslategray;
    border-radius: 15px;
    text-align: center;
    padding: 0px 0px 0px 0px;
   
}

.sidebarHeader {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 250px !important;
}

.dropdownHeader {
    color: white !important;
    background-color: darkslategrey !important;
    border-radius: 15px;
}

.navbarBrand {
    text-align: center !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    font-size: 1.5rem !important;
}

.navbarLeft {
    background-image: url("../img/food.jpg");
}

.container {
    position: relative;
}

.padding {
    padding-left: 25px !important;
}

.fontSize {
    font-size: large !important;
}

.nameFont {
    font-weight: bolder;
    font-size: large;
}

.backgroundNav {
    background-color: darkslategrey;
}

.dateFont {
    margin-bottom: 0px;
    font-size: initial;
    font-style: oblique;
}
