﻿<nav class="navbar width full-height position-fixed height navbarLeft navbar-expand-md navbar-dark bg-dark">
    <div id="sidebar-wrapper" class="padding-sidebar">
        <ul class="sidebar-nav list-unstyled">
            <li class="nav-item dropdown">
                <span class="dropdown-item-text dropdownHeader">
                    <a class="sidebarLink dropdown-item" href="@Url.Action("GetRandomRecipe","Recipe")">What to cook today?</a>
                </span>
                <br />
            </li>
            <li class="nav-item dropdown">
                <span class="dropdown-item-text dropdownHeader">Recipes</span>
                <a class="sidebarLink dropdown-item" href="@Url.Action("Index","Recipe")">All recipes</a>
                <a class="sidebarLink dropdown-item" href="@Url.Action("GetRecipeCategories","Home")">Categories</a>
                <a class="sidebarLink dropdown-item" href="@Url.Action("SearchByIngredients","Recipe")">Search By Ingredient</a>
                <br />
            </li>
            <li class="nav-item dropdown">
                <span class="dropdown-item-text dropdownHeader">Ingredients</span>
                <a class="sidebarLink dropdown-item" href="@Url.Action("Index","Ingredient")">All ingredients</a>
                <a class="sidebarLink dropdown-item" href="@Url.Action("GetIngredientCategories", "Home")">Categories</a>
                <br />
            </li>
            <li class="nav-item dropdown">
                <span class="dropdown-item-text dropdownHeader">Users</span>
                <a class="sidebarLink dropdown-item" href="@Url.Action("Index","User")">All users</a>
                <br />
            </li>
            <li class="nav-item dropdown">
                <span class="dropdown-item-text dropdownHeader">Cookbooks</span>
                <a class="sidebarLink dropdown-item" href="@Url.Action("Index","Cookbook")">All cookbooks</a>
                <br />
            </li>
        </ul>
    </div>
</nav>



