﻿@model CookBook.ViewModels.UserCookbooksViewModel
@{
    ViewBag.Title = "GetAllPublicUserCookbooks";
}

<div class="row padding">
    <h2 class="jumbotron">@Model.User.Name</h2>
    <div class="padding"></div>
</div>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="@Url.Action("GetPublicProfile","User", new { id=Model.User.Id})" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
        <a href="@Url.Action("GetAllPublicUserRecipes","User", new { id=Model.User.Id})" class="nav-link">Recipes</a>
    </li>
    <li class="nav-item">
        <a href="@Url.Action("GetAllPublicUserCookbooks", "User", new { userId=Model.User.Id})" class="nav-link active">CookBooks</a>
    </li>
</ul>
<br />
<br />
<div class="row padding">
    <div class="col-md-12"><h5>All cookbooks:</h5></div>
    @foreach (var cookbook in Model.Cookbooks)
    {
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5><a href="@Url.Action("Get", "Cookbook", new { id = cookbook.Id })">@cookbook.Name</a></h5>
                    <p class="dateFont">@cookbook.Date.ToLongDateString()</p>
                    <a class="dateFont" href="@Url.Action("GetPublicProfile","User", new { id =cookbook.UserId})">By: @cookbook.Username</a>
                </div>
            </div>
        </div>
    }
</div>