﻿@model CookBook.ViewModels.UserRecipesViewModel
@{
    ViewBag.Title = "GetAllPublicUserRecipes";
}

<div class="row padding">
    <h2 class="jumbotron">@Model.User.Name</h2>
    <div class="padding"></div>
</div>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="@Url.Action("GetPublicProfile","User", new { id=Model.User.Id})" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
        <a href="@Url.Action("GetAllPublicUserRecipes","User", new { id=Model.User.Id})" class="nav-link active">Recipes</a>
    </li>
    <li class="nav-item">
        <a href="@Url.Action("GetAllPublicUserCookbooks", "User", new { userId=Model.User.Id})" class="nav-link">CookBooks</a>
    </li>
</ul>
<br />
<br />
<div class="row padding">
    <div class="col-md-12"><h5>All recipes:</h5></div>
    <div class="col-md-6">
        <table class="table table-borderless fontSize">
            <tbody>
                @foreach (var recipe in Model.Recipes)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("Get","Recipe",new { id=recipe.Id})">@recipe.Name</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>