﻿@model CookBook.ViewModels.UserCookbooksViewModel
@{
    ViewBag.Title = "GetAllUserCookbooks";
}

<div class="row padding">
    <h2 class="jumbotron">@Model.User.Name</h2>
    <div class="padding"></div>
    <a href="@Url.Action("Edit","User")" class="btn btn-outline-secondary align-self-baseline">Edit profile</a>
</div>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="@Url.Action("GetProfile","User")" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
        <a href="@Url.Action("GetAllUserRecipes","User")" class="nav-link">Recipes</a>
    </li>
    <li class="nav-item">
        <a href="@Url.Action("GetFavoriteRecipes","User")" class="nav-link">Favorite Recipes</a>
    </li>
    <li class="nav-item">
        <a href="@Url.Action("GetAllUserCookbooks", "User")" class="nav-link active">CookBooks</a>
    </li>
</ul>
<br />
<br />
<div class="row padding">
    <div class="col-md-10"><h5>All cookbooks:</h5></div>
    <div class="col-md-2"><a href="@Url.Action("Create","Cookbook")" class="btn float-right btn-info">Add new</a></div><br />
    <br />
        @foreach (var cookbook in Model.Cookbooks)
        {
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5><a href="@Url.Action("Get", "Cookbook", new { id = cookbook.Id })">@cookbook.Name</a></h5>
                        <p class="dateFont">@cookbook.Date.ToLongDateString()</p>
                        <a class="dateFont" href="@Url.Action("GetProfile","User", new { id =cookbook.UserId})">By: @cookbook.Username</a><br />
                        <a href="@Url.Action("Edit","Cookbook", new { id=cookbook.Id})">Edit </a>|<a href="@Url.Action("Delete","Cookbook", new { id=cookbook.Id})"> Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>