﻿@model CookBook.ViewModels.UserProfileViewModel
@{
    ViewBag.Title = "GetPublicProfile";
}

<div class="row padding">
    <h2 class="jumbotron">@Model.User.Name</h2>
    <div class="padding"></div>
</div>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="@Url.Action("GetPublicProfile","User", new { id=Model.User.Id})" class="nav-link active">Home</a>
    </li>
    <li class="nav-item">
        <a href="@Url.Action("GetAllPublicUserRecipes","User", new { id=Model.User.Id})" class="nav-link">Recipes</a>
    </li>
    <li class="nav-item">
        <a href="@Url.Action("GetAllPublicUserCookbooks", "User", new { userId=Model.User.Id})" class="nav-link">CookBooks</a>
    </li>
</ul>
<br />
<br />
<div class="row padding">
    <div class="col-md-10"><h5>Latest recipes:</h5></div>
    <br />
    @foreach (var recipe in Model.Recipes)
    {
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5><a href="@Url.Action("Get","Recipe", new { id=recipe.Id})" class="card-title">@recipe.Name</a></h5>
                    <h6 class="card-subtitle mb-2 text-muted">@recipe.Date.ToLongDateString()</h6>
                    <a href="@Url.Action("GetAllByCategory","Recipe",new { categoryId=(int)recipe.Category})" class="card-link">#@recipe.Category.ToString()</a>
                </div>
            </div>
        </div>
    }
</div>


