﻿@model CookBook.ViewModels.UserProfileViewModel
@{
    ViewBag.Title = "GetProfile";
}

<div class="row padding">
    <h2 class="jumbotron">@Model.User.Name</h2>
    <div class="padding"></div>
    <a href="@Url.Action("Edit","User")" class="btn btn-outline-secondary align-self-baseline">Edit profile</a>
</div>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="@Url.Action("GetProfile","User")" class="nav-link active">Home</a>
    </li>
    <li class="nav-item">
        <a href="@Url.Action("GetAllUserRecipes","User")" class="nav-link">Recipes</a>
    </li>
    <li class="nav-item">
        <a href="@Url.Action("GetFavoriteRecipes","User")" class="nav-link">Favorite Recipes</a>
    </li>
    <li class="nav-item">
        <a href="@Url.Action("GetAllUserCookbooks", "User")" class="nav-link">CookBooks</a>
    </li>
</ul>
<br />
<br />
<div class="row padding">
    <div class="col-md-10"><h5>Latest recipes:</h5></div>
    <div class="col-md-2"><a href="@Url.Action("Create","Recipe")" class="btn float-right btn-info">Add new</a></div><br />
    <br />
    @foreach (var recipe in Model.Recipes)
    {
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5><a href="@Url.Action("Get","Recipe", new { id=recipe.Id})" class="card-title">@recipe.Name</a></h5>
                    <h6 class="card-subtitle mb-2 text-muted">@recipe.Date.ToLongDateString()</h6>
                    <a href="@Url.Action("GetAllByCategory","Recipe",new { categoryId=(int)recipe.Category})" class="card-link">#@recipe.Category.ToString()</a>
                </div>
            </div>
        </div>
    }
</div>


