﻿@model List<CookBook.ViewModels.UserViewModel>
@{
    ViewBag.Title = "Index";
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="@Url.Action("Index","User")" class="nav-link active">Users</a>
    </li>
</ul>
<br />
<div class="row padding fontSize">
    <div class="col-12"><h3>List of users</h3></div>
    <br />
    <br />
    @if (Model.Count != 0)
    {
        <div class="col-md-6  list-group">
            <ul>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <li><a href="@Url.Action("GetPublicProfile", "User", new { id = Model[i].Id })">@Model[i].Name</a></li>
                }
            </ul>
        </div>
    }
</div>