﻿@model CookBook.ViewModels.IngredientViewModel
@{
    ViewBag.Title = "Get";
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="@Url.Action("Get","Ingredient", new { id=Model.Ingredient.Id})" class="nav-link active">Ingredient</a>
    </li>
</ul>
<br />

<div class="row padding">
    <div class="col-md-6">
        <div> @Html.HiddenFor(m => m.Ingredient.Id)</div>
        <div> @Html.TextBoxFor(m => m.Ingredient.Name, new { @class = "form-control", @readonly = "readonly" }) </div>
        <div> @Html.TextBoxFor(m => m.Ingredient.Measure, new { @class = "form-control", @readonly = "readonly" })</div>
        <br />
        <div><a href="@Url.Action("GetAllByCategory","Ingredient", new { categoryId=(int)Model.Ingredient.Category})">#@Model.Ingredient.Category</a></div>
    </div>
</div> 