﻿@model List<CookBook.ViewModels.CategoryViewModel>
@{
    ViewBag.Title = "GetIngredientCategories";
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="@Url.Action("GetIngredientCategories","Home")" class="nav-link active">Ingredient categories</a>
    </li>
</ul>
<br />
<div class="row padding">

    @for (int i = 0; i < Model.Count; i++)
    {
        <div>
            <a class="padding" href="@Url.Action("GetAllByCategory", "Ingredient", new { categoryId =(int)Model[i].Value})">#@Model[i].Name</a>
        </div>
    }

</div>

