﻿@model List<CookBook.ViewModels.CategoryViewModel>
@{
    ViewBag.Title = "GetRecipeCategories";
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="@Url.Action("GetRecipeCategories","Home")" class="nav-link active">Recipe categories</a>
    </li>
</ul>
<br />
<div class="row padding">

    @for (int i = 0; i < Model.Count; i++)
    {
        <div><a class="padding" href="@Url.Action("GetAllByCategory","Recipe", new { categoryId=(int)Model[i].Value})">#@Model[i].Name</a></div>
    }

</div>