﻿@model CookBook.ViewModels.CookbookViewModel
@{
    ViewBag.Title = "Delete";
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="@Url.Action("Delete","Cookbook", new { id=Model.Cookbook.Id})" class="nav-link active">Delete</a>
    </li>
</ul>
<br />

@using (Html.BeginForm())
{
    <div class="col-md-6 form-group">
        <div> @Html.HiddenFor(m => m.Cookbook.Id) </div>
        <h1>@Model.Cookbook.Name</h1>
        <div class="dateFont">By:<a href="@Url.Action("GetPublicProfile","User",new { id=Model.Cookbook.UserId})">@Model.Cookbook.Username</a></div>
        <div class="dateFont">@Model.Cookbook.Date.ToLongDateString()</div>
        <br />
        <h5>Recipes:</h5>
        @foreach (var recipe in Model.Cookbook.Recipes)
        {
            <ul>
                <li>@recipe.Name</li>
            </ul>
        }
        <br />
        <button value="submit" type="submit" class="btn btn-danger">Delete</button>
        <a href="@Url.Action("GetAllUserCookbooks","User")" class="btn btn-info">Cancel</a>
    </div>
}  