﻿@model CookBook.ViewModels.CookbookViewModel
@{
    ViewBag.Title = "Edit";
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="@Url.Action("Edit", "Cookbook", new { id = Model.Cookbook.Id })" class="nav-link active">Edit</a>
    </li>
</ul>
<br />

@using (Html.BeginForm("GetAvailabileRecipesForEditCookbook", "Cookbook", new { id=Model.Cookbook.Id}))
{
    <div class="col-md-12">
        <button type="submit" class="float-right btn btn-danger">Add new recipe</button>
    </div>
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="col-md-6 form-group">
        <div> @Html.HiddenFor(m => m.Cookbook.Id) @Html.HiddenFor(m => m.Cookbook.Date) @Html.HiddenFor(m => m.Cookbook.UserId) @Html.HiddenFor(m=>m.Cookbook.Username)</div>
        <h5>@Html.LabelFor(m => m.Cookbook.Name):</h5>
        @Html.TextBoxFor(m => m.Cookbook.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Cookbook.Name, "", new { @class = "text-danger" })
        <br />
        <h5>Recipes:</h5>
        <table class="table table-borderless table-sm col-md-2">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>

            </thead>
            <tbody>
                @for (int i = 0; i < Model.Cookbook.Recipes.Count; i++)
                {
                    <tr>
                        <td>
                            @Html.HiddenFor(m => m.Cookbook.Recipes[i].Id)
                            @Html.HiddenFor(m => m.Cookbook.Recipes[i].Description)
                            @Html.HiddenFor(m=>m.Cookbook.Recipes[i].Name)
                            <a class="btn btn-sm btn-outline-danger" href="@Url.Action("RemoveRecipe", "Cookbook", new { cookbookId = Model.Cookbook.Id, recipeId = Model.Cookbook.Recipes[i].Id })">x</a>
                        </td>
                        <td> @Html.DisplayFor(m=>m.Cookbook.Recipes[i].Name)</td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        <button value="submit" type="submit" class="btn btn-danger">Save</button>
        <a href="@Url.Action("GetAllUserCookbooks", "User")" class="btn btn-info">Cancel</a>
    </div>
}
