﻿@model CookBook.ViewModels.CookbookViewModel
@{
    ViewBag.Title = "GetAvailabileRecipesForEditCookbook";
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="@Url.Action("GetAvailabileRecipesForEditCookbook","Cookbook", new { id=Model.Cookbook.Id})" class="nav-link active">Edit</a>
    </li>
</ul>
<br />
<div class="row padding">
    <div class="col-12"><h3>Choose recipe:</h3></div>
    <br />
    <br />
    <div class="col-md-12 fontSize">
        @foreach (var recipe in Model.Cookbook.Recipes)
        {
            <ul>
                <li>
                    @recipe.Name <a class="btn btn-sm btn-outline-danger float-right" href="@Url.Action("AddRecipe", "Cookbook", new {cookbookId=Model.Cookbook.Id, recipeId = recipe.Id })">Add recipe</a>
                </li>
            </ul>
        }
    </div>
</div>