﻿@model CookBook.ViewModels.GetCookbookViewModel

@{
    ViewBag.Title = "ShowRecipeForCookbook";
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="@Url.Action("Get","Cookbook", new { id=Model.Cookbook.Id})" class="nav-link active">Cookbook</a>
    </li>
</ul>
<br />

<div class="jumbotron text-center">
    <h1 class="display-4 ">@Model.Cookbook.Name</h1>
    <div class="dateFont">By:<a href="@Url.Action("GetPublicProfile","User",new { id=Model.Cookbook.UserId})">@Model.Cookbook.Username</a></div>
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        @for (int i = 0; i < Model.Cookbook.Recipes.Count; i++)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("ShowRecipeForCookbook","Cookbook", new { cookbookId=Model.Cookbook.Id,recipeId=Model.Cookbook.Recipes[i].Id})">@(i + 1)</a>
            </li>
        }
    </ul>
</nav>

<div class="form-group text-center">
        <h2>@Model.Recipe.Name</h2>
    <br />
    <div class="dateFont">By:<a href="@Url.Action("GetPublicProfile","User",new { id=Model.Recipe.UserId})">@Model.Recipe.Username</a></div>
    <div class="dateFont">@Model.Recipe.Date.ToLongDateString()</div>
    <div><a href="@Url.Action("GetAllByCategory","Recipe", new { categoryId=(int)Model.Recipe.Category})">#@Html.DisplayFor(m => m.Recipe.Category)</a></div>
    <br />
    <div class="col-md-12 list-group align-items-center">
        <h5> Ingredients:: </h5>
        <table class="table table-sm table-borderless col-md-2">
            @for (int i = 0; i < Model.Recipe.Ingredients.Count; i++)
            {
                <tr>
                    <td> @Html.DisplayFor(m => m.Recipe.Ingredients[i].Ingredient.Name)</td>
                    <td> @Html.DisplayFor(m => m.Recipe.Ingredients[i].Amount) </td>
                    <td> @Html.DisplayFor(m => m.Recipe.Ingredients[i].Ingredient.Measure)</td>
                </tr>
            }
        </table>
        <h5> Description: </h5>
        @Html.TextAreaFor(m => m.Recipe.Description, new { @class = "form-control", @readonly = "readonly" })
    </div>
</div>