﻿@model CookBook.ViewModels.IngredientViewModel
@{
    ViewBag.Title = "Delete";
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="@Url.Action("Delete","Ingredient", new { id=Model.Ingredient.Id})" class="nav-link active">Delete</a>
    </li>
</ul>
<br />
@using (Html.BeginForm())
{
    <div class="row padding">
        <div class="col-md-6">
            <div> @Html.HiddenFor(m => m.Ingredient.Id) </div>
            <div class="col-form-label"> @Html.LabelFor(m => m.Ingredient.Name, new { @class = "control-label" }):</div>
            <div> @Html.TextBoxFor(m => m.Ingredient.Name, new { @class = "form-control", @readonly = "readonly" })      </div>
            <br />
            <div class="col-form-label">@Html.LabelFor(m => m.Ingredient.Measure, new { @class = "control-label" }):</div>
            <div> @Html.TextBoxFor(m => m.Ingredient.Measure, new { @class = "form-control", @readonly = "readonly" })      </div>
            <br />
            <div><a href="@Url.Action("GetAllByCategory","Ingredient", new { categoryId=(int)Model.Ingredient.Category})">#@Model.Ingredient.Category</a></div>
            <br />
            <button value="submit" type="submit" class="btn btn-danger">Delete</button>
            <a href="@Url.Action("Index","Ingredient")" class="btn btn-info">Cancel</a>
        </div>
    </div>
} 