﻿@model CookBook.ViewModels.IngredientViewModel
@{
    ViewBag.Title = "Edit";
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="@Url.Action("Edit","Ingredient", new { id=Model.Ingredient.Id})" class="nav-link active">Edit</a>
    </li>
</ul>
<br />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="row padding">
    <div class="col-md-6">
        <div> @Html.HiddenFor(m => m.Ingredient.Id)  </div>
        <div class="col-form-label"> @Html.LabelFor(m => m.Ingredient.Name, new { @class = "control-label" })</div>
        <div>
            @Html.TextBoxFor(m => m.Ingredient.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Ingredient.Name, "", new { @class = "text-danger" })
        </div>
        <div class="col-form-label">@Html.LabelFor(m => m.Ingredient.Measure, new { @class = "control-label" })</div>
        <div class="dropdown-menu-left">
            @Html.EnumDropDownListFor(
            m => m.Ingredient.Measure,
            "- Please select -",
            new { @class = "form-control" })
        </div>
        <div class="col-form-label">@Html.LabelFor(m => m.Ingredient.Category, new { @class = "control-label" })</div>
        <div class="dropdown-menu-left">
            @Html.EnumDropDownListFor(
            m => m.Ingredient.Category,
            "- Please select -",
            new { @class = "form-control" })
        </div>
        <br />
        <button value="submit" type="submit" class="btn btn-danger">Save</button>
        <a href="@Url.Action("Index","Ingredient")" class="btn btn-info">Cancel</a>
    </div>
</div>
} 