﻿@model CookBook.ViewModels.IngredientCategoryViewModel
@{
    ViewBag.Title = "GetAllByCategory";
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="@Url.Action("GetAllByCategory","Ingredient", new { categoryId=Model.Category.Value})" class="nav-link active">#@Model.Category.Name</a>
    </li>
</ul>
<br />
<br />
<div class="row padding">

    @foreach (var ingredient in Model.Ingredients)
    {
        <div><a class="padding" href="@Url.Action("Get","Ingredient", new { id=ingredient.Id})">@ingredient.Name</a></div>
    }
</div>