﻿@model List<CookBook.ViewModels.IngredientViewModel>
@{
    ViewBag.Title = "Index";
}


<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="@Url.Action("Index","Ingredient")" class="nav-link active">Ingredients</a>
    </li>
</ul>
<br />
<div class="col-md-7 padding">
    <h3>List of ingredients</h3>
        <a href="@Url.Action("Create","Ingredient")" class="btn float-right btn-info">Add</a>
    <br />
    <br />
    <div>
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col">@Html.LabelFor(m => m[0].Ingredient.Name)</th>
                    <th scope="col">@Html.LabelFor(m => m[0].Ingredient.Measure)</th>
                    <th scope="col">@Html.LabelFor(m => m[0].Ingredient.Category)</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>

                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        @Html.HiddenFor(m => m[i].Ingredient.Id)
                        <td>@Html.DisplayFor(m => m[i].Ingredient.Name)</td>
                        <td>@Html.DisplayFor(m => m[i].Ingredient.Measure)</td>
                        <td><a href="@Url.Action("GetAllByCategory","Ingredient", new { categoryId=(int)Model[i].Ingredient.Category})">#@Model[i].Ingredient.Category</a></td>
                        <td>
                            <a href="@Url.Action("Edit","Ingredient",new {id=Model[i].Ingredient.Id})">Edit</a> |
                            <a href="@Url.Action("Delete","Ingredient", new { id=Model[i].Ingredient.Id})">Delete</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>