﻿@model List<CookBook.ViewModels.BasicRecipeDataViewModel>
@{
    ViewBag.Title = "HomePage";
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="@Url.Action("HomePage","Home")" class="nav-link active">Home</a>
    </li>
</ul>
<br />
<br />
<div class="row padding">
    <div class="col-12"><h3>Latest recipes:</h3></div>
    <br />
    <br />
    @foreach (var recipe in Model)
    {
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5><a href="@Url.Action("Get","Recipe", new { id=recipe.Id})" class="card-title">@recipe.Name</a></h5>
                    <h6 class="card-subtitle mb-2 text-muted">@recipe.Date.ToLongDateString()</h6>
                    <a href="@Url.Action("GetAllByCategory","Recipe",new { categoryId=(int)recipe.Category})" class="card-link">#@recipe.Category.ToString()</a>
                </div>
            </div>
        </div>
    }
</div>
