﻿@model CookBook.ViewModels.AccountViewModel
@{
    ViewBag.Title = "Login";
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="@Url.Action("Login","Account")" class="nav-link active">Log in</a>
    </li>
</ul>
<br />
<br />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="col-md-6">
        <form>
            <div class="form-group">
                @Html.TextBoxFor(m => m.Username, new { placeHolder = "Your username", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.Password, new { placeHolder = "Your password", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input type="submit" data-role="login2" class="btn btn-info" value="Log in" />
            </div>
        </form>
        <div>You don't have an account? <a href="@Url.Action("Registration","Account")">Register</a></div>
    </div>
}

