﻿@model CookBook.ViewModels.AccountViewModel
@{
    ViewBag.Title = "Registration";
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="@Url.Action("Registration","Account")" class="nav-link active">Registration</a>
    </li>
</ul>
<br />
@using (Html.BeginForm())
{
    <div class="padding">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="control-group">
            <div> @Html.LabelFor(m => m.Username)</div>
            <div class="controls">
                @Html.TextBoxFor(m => m.Username, new { placeHolder = "Enter username", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="control-group">
            <div> @Html.LabelFor(m => m.Password)</div>
            <div class="controls">
                @Html.PasswordFor(m => m.Password, new { placeHolder = "Enter password", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <button class="btn btn-info" type="submit">Registration</button>
    </div>
}