﻿@model CookBook.ViewModels.CookbookViewModel
@{
    ViewBag.Title = "Create";
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="@Url.Action("Create","Cookbook")" class="nav-link active">Create</a>
    </li>
</ul>
<br />

@Html.ValidationSummary(false, "", new { @class = "text-danger" })
@using (Html.BeginForm())
{
    <div class="form-inline">
        <div class="form-group">
            @Html.LabelFor(m => m.Cookbook.Name):
        </div>
        <div class="padding">
            @Html.TextBoxFor(m => m.Cookbook.Name, new { @class = "form-control" })
        </div>
        <div class="padding"></div>
        <button class="btn btn-danger" type="submit">Next</button>
        <br />
        @Html.ValidationMessageFor(m => m.Cookbook.Name, "", new { @class = "text-danger" })

    </div>
}