﻿@model CookBook.ViewModels.CookbookViewModel
@{
    ViewBag.Title = "Get";
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="@Url.Action("Get","Cookbook", new { id=Model.Cookbook.Id})" class="nav-link active">Cookbook</a>
    </li>
</ul>
<br />

<div class="col-md-12">
    <div class="jumbotron text-center">
        <h1 class="display-4">@Model.Cookbook.Name</h1>
        <div class="dateFont">By:<a href="@Url.Action("GetPublicProfile","User",new { id=Model.Cookbook.UserId})">@Model.Cookbook.Username</a></div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            @for (int i = 0; i < Model.Cookbook.Recipes.Count; i++)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("ShowRecipeForCookbook","Cookbook", new { cookbookId=Model.Cookbook.Id,recipeId=Model.Cookbook.Recipes[i].Id})">@(i + 1)</a>
                </li>
            }
        </ul>
    </nav>
</div>

<div class="col-md-12 text-center padding">
    <h5>Content:</h5>
    <table class="table table-borderless fontSize">
        <tbody>
            @foreach (var recipe in Model.Cookbook.Recipes)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("ShowRecipeForCookbook","Cookbook",new { cookbookId=Model.Cookbook.Id,recipeId=recipe.Id})">@recipe.Name</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
