﻿@model List<CookBook.ViewModels.CookbookViewModel>
@{
    ViewBag.Title = "Index";
}

<ul class="nav nav-tabs">
     <li class="nav-item">
        <a href="@Url.Action("Index","Cookbook")" class="nav-link active">CookBooks</a>
    </li>
</ul>
<br />

<div class="row padding">
    <div class="col-12"><h3>List of cookbooks</h3></div>
    <br />
    <br />
    @foreach (var cookbook in Model)
    {
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5><a href="@Url.Action("Get", "Cookbook", new { id = cookbook.Cookbook.Id })">@cookbook.Cookbook.Name</a></h5>
                    <p class="dateFont">@cookbook.Cookbook.Date.ToLongDateString()</p>
                    <a class="dateFont" href="@Url.Action("GetPublicProfile","User", new { id =cookbook.Cookbook.UserId})">By: @cookbook.Cookbook.Username</a>
                </div>
            </div>
        </div>
    }
</div>