﻿<nav class="navbar backgroundNav fixed-top justify-content-between">
    <div class="text-center align-content-center navbar-brand sidebarHeader"> <a href="@Url.Action("HomePage","Home")">COOKBOOK</a></div>
    <div class="btn-group">
        <a href="@Url.Action("Login","Account")" class="btn btn-secondary" id="dropdownMenuButton">Log in</a>
        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="@Url.Action("GetProfile","User")">My profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="@Url.Action("GetAllUserRecipes","User")">Recipes</a>
            <a class="dropdown-item" href="@Url.Action("GetFavoriteRecipes","User")">Favorites</a>
            <a class="dropdown-item" href="@Url.Action("GetAllUserCookbooks", "User")">Cookbooks</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="@Url.Action("Logout","Account")">Log out</a>
            <a class="dropdown-item" href="@Url.Action("Registration","Account")">Registration</a>
        </div>
        <div class="padding"></div>
    </div>
</nav>




